extends layout

block content

  
  section#team.pb-5
    .container
      h5.section-title.h1= pageHeader.title
      small &nbsp;#{pageHeader.strapline}
      .row
        .col-xs-12.col-sm-6.col-md-4
       

