extends layout

block content

  .container.register-form
    form(role='form', action='', method='post')
      .note
        h5.section-title.h1= title     
      .form-content
        .row
          .col-sm-4
            .form-group
              input.form-control(type='text' placeholder='Username *' value='')
            .form-group
              input.form-control(type='text' placeholder='Your Password *' value='')
            .form-group
              input.form-control(type='text' placeholder='Confirm Password *' value='')
        button.btnSubmit(type='button') Submit

