<div class="card" *ngFor = "let Book of books">
    <div class="card-body text-center mt-4">
        <h4 class="card-title"> </h4>
        <h2>{{Book.bookName}}</h2>
        <p class="synopsis">{{Book.synopsis}}</p>
        <ul class="list-inline">
            <li class="list-inline-item">{{Book.author}}</li>
            <div class="genres">
                <span *ngFor="let genre of Book.Genres" class="badge badge-warning">{{genre}}</span>
            </div>
            <small>&nbsp;                      </small>
        </ul>
    </div>
</div>